@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    font-weight: 600;
    font-family: Open Sans;
    /* display: inline; */
    

}
.welcome-tag{
    font-size: 10px;
    padding: 10px 5%;
    background-color: rgb(205, 203, 203);
    color: rgb(73, 72, 72);
    display: flex;
    justify-content: space-between;
    font-family: Open Sans;


}
.w-tag-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.w-tag-wrapper > svg{
    fill: rgb(29, 179, 229);
    width: 14px;

}
.main-nav{
    margin: 10px 5%;
    /* background-color: rgb(186, 186, 186); */
    display: flex;
    justify-content: space-between;
}
.logo{
    
    color: rgb(11, 159, 208);
    display: flex;
    gap: 10px;
    font-size: 14px;
    
}
.logo h1{
    font-weight: bold;
    padding-right: 200px;
}
.logo > svg{
    fill:rgb(29, 179, 229) ;
    /* border: 1px solid red; */
    background-color:rgb(217, 243, 251) ;
    padding: 12px;
    border-radius: 5px;
}
.search svg{
    fill: rgb(29, 179, 229);
    height: 14px;

}
.search{
    /* border: 1px solid black;
     */
     border-radius: 10px;
    padding: 10px;
    background-color: rgb(217, 243, 251);
    
}
.search input{
    background-color: rgb(217, 243, 251);
    width: 400px;
    outline: none;
    padding-left: 5px;
}
.l-tag{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 12px;
}
.l-tag svg{
    fill: rgb(29, 179, 229);
    padding-right: 10px ;
}
.tags-bar{
    padding: 10px 5%;
    border-top: 2px solid rgba(0, 0, 0, 0.079);
    border-bottom: 2px solid rgba(0, 0, 0, 0.079);
    display: flex;
    justify-content: space-between;
    font-size: 10px;

}
.tag svg{
    height: 12px;
    fill:rgb(29, 179, 229) ;
}
.tag{
    display: flex;
    /*border: 1px solid green; */
    justify-content: space-between;
    gap: 10px;
    padding: 6px;
    border-radius: 30px;
    background-color: rgb(217, 243, 251);
}
.banner{
    margin: 5%;
    border: 2px solid black;
    display: flex;
    background-color: rgb(21, 21, 71);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    
    border-radius: 15px;
}
.banner-text{
    padding: 50px;
    width: 50%;
    /* margin-right: 200px; */
    /* border: 2px solid; */
    
}
.banner-img{
    width: 50%;
    margin-top: 6px;
    /* border: 1px solid red; */
}
.smartphones{
    /* border: 2px solid ; */
    display: flex;
    flex-direction: column;
    margin: 5%;
}
.textwrapper{
    border-bottom: 2px solid rgba(0, 0, 0, 0.079);
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.view-all{
    display: flex;
    justify-content: center;
    align-items: center;
}
.smartphone-cardwrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
}
.smartphone-card{
    border: 1px solid;
    width: 15%;
    height: 250px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    justify-content: space-around;
    font-size: 10px;
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(149, 149, 149, 0.362);

}
.smartphone-img{
    height: 150px;
    
}
.off-tag{
    position: relative;
    width:35px;
    background-color:rgb(217, 243, 251) ;
    border: 2px solid rgba(0, 0, 0, 0.311);
    text-align: center;
}
.smartphone-card:hover{
    box-shadow:2px 5px black;
}
.top-categories{
    margin: 5%;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;

}
.categories-tag{
    /* border: 2px solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
}
.categories-elements{
    background-color: rgb(232, 232, 232);
    height: 100px;
    width: 100px;
    display: flex;
    border-radius: 100px;
    border: 1px solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid;
}

.daily-essentials{
    display: flex;
    flex-direction: column;
    margin: 5%;
}
.essentials-elements-wrapper{
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
}
.daily-essentials img{
    height: 100px;
    width: 100px;
    border: 2px solid ;
    background-color: antiquewhite;
}
.essentials-elemens p{
    font-size: 10px;
    text-align: center;

}
.essentials-elemens img:hover{
    box-shadow:2px 3px black;
}